
<img width="100%" draggable="false" height="100%" src="assets\haypi-images\welcome_bg_chain_2x.png" alt="image" class="image-stack__item--top">
<img width="100%" draggable="false" height="100%" src="assets\haypi-images\background_welcome_2x.png" alt="image" class="image-stack__item--bottom">

<button class="image-stack__item--top2" routerLink="/main"><div class="btn-text">START GAME</div><img draggable="false" src="assets\haypi-images\button_welcome_2x.png" alt="image" ></button>
<button class="image-stack__item--top3" routerLink="/login"><div class="btn-text">MY ACCOUNT</div><img draggable="false" src="assets\haypi-images\button_welcome_2x.png" alt="image" ></button>
<button class="image-stack__item--top4"><div class="btn-text">VISIT WEBSITE</div><img draggable="false" src="assets\haypi-images\button_welcome_2x.png" alt="image" ></button>