<img width="100%" draggable="false" height="100%" src="assets\haypi-images\rankbank.png" alt="image" class="image-stack__item--bottom">
<div width="100%" class="image-stack__item--top-container"><img draggable="false" src="assets\haypi-images\title_bar_background.png" alt="image" class="image-stack__item--top"></div>
<span class="title-text">Login</span>
<p>
    Welcome to Haypi Kingdom, log in now to have fun today!
</p>

<div class="username-container">
    <span class="input-label">Username</span>
    <input type="text">
</div>
<div class="password-container">
    <span class="input-label">Password </span>
    <input type="password">
</div>