/* You can add global styles to this file, and also import other style files */
:root {

    --text-color: rgb(207, 195, 145);
    --title-color: rgb(73, 66, 43);

    input {
        font-size: 35px;
        font-family: Didot, serif;
        background-color: transparent;
        border: solid rgb(163, 138, 85);
    }
}